.idea/*
cmake-build-debug/*
.vscode/*
CMakeLists.txt


Others/python/sorting/\.idea/

Others/python/sorting/venv/bin/

Others/python/sorting/venv/lib/python3\.5/site-packages/

Others/python/sorting/venv/

Others/programming-languages/java/.idea
Others/programming-languages/java/out

*.swp
.history/*
interviews/.idea/*
interviews/interview.iml
interviews/out
interviews/src/Main.java
interviews/src/anki-coding/.idea
interviews/src/amazon/*.class
