.idea/*
cmake-build-debug/*
.vscode/*
CMakeLists.txt


*.exe 
*.iml
*.class 

out/
.idea/*

Others/python/sorting/\.idea/

Others/python/sorting/venv/bin/

Others/python/sorting/venv/lib/python3\.5/site-packages/

Others/python/sorting/venv/

Others/programming-languages/java/*.idea
Others/programming-languages/Java/*.idea
Others/programming-languages/Java/*.iml
Others/programming-languages/java/out
Others/general-topics/misc-concept/string-manipulation

*.swp
.history/*
interviews/.idea/*
interviews/interview.iml
interviews/out
interviews/src/Main.java
interviews/src/anki-coding/.idea
interviews/src/amazon/*.class


OJ/gfg/*.iml 
OJ/gfg/*.idea  
OJ/gfg/out/*



Others/programming-languages/Java/out/production/Java/com/company/Main.class
Others/programming-languages/python/.idea/*
interviews/interviews.iml
Others/programming-languages/python/basics/__pycache__/enum.cpython-36.pyc
interviews/src/anki-coding/graph/.fuse_hidden00008ead0000001c
interviews/src/anki-coding/graph/.fuse_hidden00008f220000001d
Others/general-topics/misc-concept/string-manipulation/string-manipulation.iml
Others/general-topics/misc-concept/string-manipulation/.idea/compiler.xml
Others/general-topics/misc-concept/string-manipulation/.idea/misc.xml
Others/general-topics/misc-concept/string-manipulation/.idea/modules.xml
Others/general-topics/misc-concept/string-manipulation/.idea/vcs.xml
Others/general-topics/misc-concept/string-manipulation/.idea/workspace.xml
Others/general-topics/misc-concept/string-manipulation/.idea/libraries/Maven__commons_codec_commons_codec_1_12.xml
Others/general-topics/misc-concept/string-manipulation/.idea/libraries/Maven__org_apache_commons_commons_collections4_4_3.xml
Others/general-topics/misc-concept/string-manipulation/.idea/libraries/Maven__org_apache_commons_commons_math3_3_6_1.xml
Others/general-topics/misc-concept/string-manipulation/.idea/libraries/Maven__org_apache_poi_poi_4_1_0.xml
Others/general-topics/misc-concept/string-manipulation/src/main/java/files/input/.fuse_hidden0000472700000001
Others/general-topics/misc-concept/string-manipulation/src/main/java/files/input/.~lock.Excepts_Dedoose_for_Kate_May19.xlsx#
Others/general-topics/misc-concept/string-manipulation/target/classes/StringManipulator.class
Others/general-topics/misc-concept/string-manipulation/target/classes/StringManipulatorByLabelText.class
Others/general-topics/misc-concept/string-manipulation/target/classes/META-INF/string-manipulation.kotlin_module
Others/general-topics/misc-concept/string-manipulation/.classpath
Others/general-topics/misc-concept/string-manipulation/.project
Others/general-topics/misc-concept/string-manipulation/.settings/*
Others/general-topics/misc-concept/string-manipulation/target/classes/StringManipulatorByEmoticon.class


interview-prep/out/*

/OJ/kattis/.idea/*
/OJ/kattis/*.iml

/interview-prep/.idea/*
Practice/algorithm/recursion/.idea/*
Others/general-topics/design-pattern/.idea/*
Others/general-topics/cyber-security/applied_crypto/.idea/*
Others/books/g-system-design
Others/general-topics/programming-languages-practice/untitled/.idea/workspace.xml
