[submodule "Algorithm"]
	path = Algorithm
	url = https://github.com/forhadmethun/Algorithm.git
[submodule "Data-Structure"]
	path = Data-Structure
	url = https://github.com/forhadmethun/Data-Structure.git
[submodule "my-inerview-preparation"]
	path = my-inerview-preparation
	url = https://github.com/forhadmethun/my-inerview-preparation.git
[submodule "my-regular-learnings"]
	path = my-regular-learnings
	url = https://github.com/forhadmethun/my-regular-learnings.git
[submodule "my-online-judge-practice"]
	path = my-online-judge-practice
	url = https://github.com/forhadmethun/my-online-judge-practice.git
